{% load staticfiles %}

<div id="cabecera">
	<input type="hidden" id="id-perfil" value="{{user_info.id}}" />
	<div class="imagen-perfil">

		<img src="{% static 'fotos_perfil/' %}{{ user_info.imagen}}" id="profile-picture" class="img-polaroid" />

		{% if session == user_info.id %}
			<form id="subir-foto" enctype="multipart/form-data" method="post" action="/cambiar-foto/"> {% csrf_token %}  
                <a href="#" class="btn btn-small" id="to-foto">Subir foto</a>
                <input id="id_file" name="file" type="file" value="Escoger foto">
            </form>
		{% endif %}
	</div>
	<div id="cabecera-contenido">
		{% if session != user_info.id %}
			{% if amistad %}
				<a href="/eliminar/{{user_info.slug}}" class="btn btn-primary eliminar-amigo" id="btn_agregar"><i class="icon-user"></i> Amigo</a>
			{% else %}
				<a href="/agregar/{{user_info.slug}}" class="btn" id="btn_agregar"><i class="icon-plus-sign"></i> Agregar</a>
			{% endif %}
		{% endif %}
		<h1 id="nombre-perfil">{{ user_info.nombre}}</h1>
		<p id="ciudad">{{ user_info.pais }}</p>
		<blockquote id="informacion">{{ user_info.biografia }}</blockquote> <!-- MEDIDA MAXIMA 175 CARACTERES! -->
		<p id="gustos">Gustos: {% if user_info.gustos != '' %}<span class="gustosToTags">{{ user_info.gustos }}</span>{%endif%}</p>	
		<button class="btn" id="enviar-privado" data-toggle="modal" data-target="#popup-privados"><i class="icon-envelope"></i></button>
	</div>


	<div id="info-amigos">
		<a href="#" id="ver-fans" data-toggle="modal" data-target="#popup-amigos"><span>{{user_info.getTotalFans}}</span> Fans</a>
		<a href="#" id="ver-amigos" data-toggle="modal" data-target="#popup-amigos"><span>{{user_info.getTotalAmigos}}</span> Amigos</a>
		<p><span>{{user_info.getTotalCanciones}}</span> Canciones</p>
	</div>
</div>
