{% extends "base-secundarias.html" %}
{% load staticfiles %}
{% block titulo %}Política de privacidad - Disoner{% endblock titulo %}
{% block clasebody %}pagina-legal{% endblock clasebody %}

{% block contenido %}

    <h2>Política de Privacidad</h2>

    <p>Con esta Política de Privacidad le ponemos al tanto de las distintas formas en que disoner.com (en adelante, “nosotros”) maneja la información que usted nos provee mientras navega en ellos.</p>

    <p>Si usted no está de acuerdo con cualquiera de las condiciones expuestas, no deberá hacer uso ni acceder a este sitio.</p>

    <h3>Cookies</h3>

    <p>Este sitio hace uso de cookies, las cuales son pequeños ficheros de datos que se generan en su ordenador que envían información pero sin proporcionar referencias que permitan deducir datos personales del visitante. La desactivación de las mismas podría impedir el buen funcionamiento del sitio.</p>


    <h3>Protección de datos personales</h3>

    <p>Para utilizar algunos de los servicios o acceder a determinados contenidos, deberá proporcionar previamente ciertos datos de carácter personal que son requeridos para poder prestarle el servicio o acceder al contenido.</p>

    <p>Disoner podrá utilizar esta información para propósitos estadísticos o de estudio del comportamiento de los visitantes en nuestro sitio. </p>

    <p>Cómo principio general, no compartimos ni revelamos la información obtenida, excepto cuando haya sido autorizada por usted, o en los siguientes casos:</p>

    	<ul>
    		<li>Cuando le sea requerido por una autoridad competente y previo el cumplimiento del trámite legal correspondiente.</li>
    		<li>Cuando a juicio de este sitio sea necesario para hacer cumplir las condiciones de uso y demás términos de esta página, o para salvaguardar la integridad de los demás usuarios o del sitio.</li>
    	</ul>

    <h3>Conducta Responsable</h3>
    <p>Toda la información que facilite deberá ser veraz. A estos efectos, usted garantiza la autenticidad de todos aquellos datos que comunique como consecuencia de la cumplimentación de los formularios necesarios para la suscripción de los Servicios, acceso a contenidos o áreas restringidas del sitio. En todo caso usted será el único responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a este sitio o a terceros por la información que facilite.</p>

    <p>Si usted sube algún contenido de tipo multimedia deberá ser el propieratio de este, de no serlo, el contenido será borrado y su cuenta será cancelada.</p>

    <p>Usted se compromete a actuar en forma responsable en este sitio y a tratar a otros visitantes con respeto.</p>

    <h3>Contacto</h3>
    <p>Si tiene preguntas o comentarios sobre esta Política, no dude en comunicarse en cualquier momento con nosotros enviando un email a <a href="mailto:info@disoner.com">info@disoner.com</a></p>

{% endblock contenido %}