{% extends "base-login.html" %}
{% load staticfiles %}

{% block bodyclass %}recuperar-pass{% endblock bodyclass %}

{% block contenido %}
	<form id="formulario-recuperar-cambiar" method="post" class="form-horizontal form-responsive">{% csrf_token %}
		<div class="agrupador">
			<input type="hidden" id="codigo-recuperar" value="{{codigo}}" />
			<label>Tu email:</label>
			<input type="email" name="email" id="emailrecuperar-cambiar" />
			<label>Nueva contraseña:</label>
			<input type="password" name="password" id="passwordrecuperar-cambiar" />
			<label>Confirmar nueva contraseña:</label>
			<input type="password" name="password2" id="password_confirm2" />
			<input type="submit" value="Cambiar" class="btn btn-primary" id="submit-recuperar-cambiar" />
			<div id="resultados"></div>
		</div>
	</form>
{% endblock contenido %}